<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log Out</title>
</head>

<body>
    <b><h4>Due to our policy of no-caching you have logged out with no cookies stored</h4>
    <br> To login you will have to re enter all details on the root page :)  <br>
    <a href="./">head to the root page</a>
    </b>
</body>

</html>