<html>
<link rel="stylesheet" href="CSS/index.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.css">
<center>
    <img src="https://d33wubrfki0l68.cloudfront.net/fdc03164b148b693c1edff867b3f1965ac040e08/89412/assets/sse.png" alt="" style="height:5vh;">

    <h1>Hi,

        <%= user %>

    </h1>
    </h1> <br>
    <div class="container">
        <hr style="height: 4px;  background: linear-gradient(90deg, #f00000, #f00000 16.67%, #ff8000 16.67%, #ff8000 33.33%, #ffff00 33.33%, #ffff00 50%, #007940 50%, #007940 66.67%, #4040ff 66.67%, #4040ff 83.33%, #a000c0 83.33%, #a000c0) fixed;"> </div>
    Please assist participants with their registration : <br> Please fill in the appropriate fields per their interest:
    <h2> Equilibria 2020 Registration Details </h2>
    <a href="./logout">logout</a>
    <form action="/submit" method="POST" class="dashboard">
        <h5>IMPORTANT: ASK FOR THE FOLLOWING BEFORE PROCEEDING</h5>
        <fieldset>
            <input type="text" name="name" placeholder="name ">
            <div class="line"></div>
            <input type="text" name="emailid" placeholder="emailid ">
            <div class="line"></div>

            <div class="line"></div>

        </fieldset>
        <h2> Equilibria 2020 Registration Details </h2>
        <fieldset>
            <center>
                <h3>Equalizer</h3>
            </center>
            <br>
            <input type="text" name="equalizer1" placeholder="Name of the band ">
            <div class="line"></div>

        </fieldset>
        <fieldset>
            <center>
                <h3>Beyond the Voice</h3>
            </center>
            <br>
            <input type="text" name="solo-singing" placeholder="Participant for Beyond the Voice (2) ">
            <div class="line"></div>

        </fieldset>

        <hr>
        <fieldset>
            <center>
                <h3>EQ Verve</h3>
            </center>
            <br>
            <input type="text" name="eqverve" placeholder="Name of the team">
            <div class="line"></div>

        </fieldset>
        <fieldset>
            <center>
                <h3>Solo Dance</h3>
            </center>
            <br>
            <input type="text" name="solodance1" placeholder="Participant for Solodance (1) ">
            <div class="line"></div>

        </fieldset>
        <fieldset>
            <center>
                <h3>Duet Dance</h3>
            </center>
            <br>
            <input type="text" name="duetdance1" placeholder="Participant for Solodance (1) ">
            <input type="text" name="duetdance2" placeholder="Participant for Solodance (2) ">
            <div class="line"></div>

        </fieldset>

        <hr>
        <fieldset>
            <center>
                <h3>Madly in Verse</h3>
            </center>
            <br>
            <input type="text" name="eqmadlyverse1" placeholder="Participant for Madly in Verse (1)">
            <div class="line"></div>
            <input type="text" name="eqmadlyverse2" placeholder="Participant for Madly in Verse (2)">
            <div class="line"></div>
            <input type="text" name="eqmadlyverse3" placeholder="Participant for Madly in Verse (3)">
            <div class="line"></div>
        </fieldset>
        <hr>
        <fieldset>
            <center>
                <h3>Fashion Show (Rock and Roll)</h3>
            </center>
            <br>
            <input type="text" name="rockandroll" placeholder="Participant for Rock and Roll ">
            <div class="line"></div>

        </fieldset>
        <fieldset>
            <center>
                <h3>Fashion Show (Pageant)</h3>
            </center>
            <br>
            <input type="text" name="pageant1" placeholder="Participant for Pageant (1) ">
            <input type="text" name="pageant2" placeholder="Participant for Pageant (2) ">
            <div class="line"></div>

        </fieldset>

        <hr>
        <fieldset>
            <center>
                <h3>Vissionaire</h3>
            </center>
            <br>
            <input type="text" name="vissionaire1" placeholder="Participant for Vissionaire (Investor)">
            <div class="line"></div>
            <input type="text" name="vissionaire2" placeholder="Participant for Vissionaire Company (1)">
            <div class="line"></div>
            <input type="text" name="vissionaire3" placeholder="Participant for Vissionaire Company (2)">
            <div class="line"></div>
        </fieldset>
        <fieldset>
            <hr>
            <center>
                <h3>Rangmanch</h3>
            </center>
            <br>
            <input type="text" name="rangmanch" placeholder="Name of team  ">
            <div class="line"></div>

        </fieldset>

        <hr>
        <fieldset>
            <center>
                <h3>Color Pallete</h3>
            </center>
            <br>
            <input type="text" name="colorpallete" placeholder="Participant for Color Pallete">
            <div class="line"></div>

        </fieldset>
        <fieldset>
            <center>
                <h3>Improv</h3>
            </center>
            <br>
            <input type="text" name="improv1" placeholder="Participant for Improv (1)">
            <div class="line"></div>
            <input type="text" name="improv2" placeholder="Participant for Improv (2)">
            <div class="line"></div>
            <input type="text" name="improv3" placeholder="Participant for Improv (3)">
            <div class="line"></div>
        </fieldset>
        <hr>
        <fieldset>
            <center>
                <h3>Debate</h3>
            </center>
            <br>
            <input type="text" name="debate1" placeholder="Participant for Debate (1)">
            <div class="line"></div>
            <input type="text" name="debate2" placeholder="Participant for Debate (2)">
            <div class="line"></div>
            <input type="text" name="debate3" placeholder="Participant for Debate (3)">
            <div class="line"></div>
        </fieldset>
        <hr>
        <fieldset>
            <center>
                <h3>Gutshot</h3>
            </center>
            <br>
            <input type="text" name="poker" placeholder="Participant for Gutshot (1)">
            <div class="line"></div>

        </fieldset>
        <hr>
        <fieldset>
            <center>
                <h3>Arcadia</h3>
            </center>
            <br>
            <input type="text" name="arcadia1" placeholder="Participant for FIFA(1)">
            <div class="line"></div>
            <input type="text" name="arcadia2" placeholder="Participant for FIFA (2)">
            <div class="line"></div>
            <input type="text" name="arcadia3" placeholder="Participant for Monopoly(1)">
            <div class="line"></div>
            <input type="text" name="arcadia4" placeholder="Participant for Monopoly(2)">
            <div class="line"></div>
            <input type="text" name="arcadia5" placeholder="Participant for PUBG (solo)">
            <div class="line"></div>
            <input type="text" name="arcadia6" placeholder="Participant for PUBG(squad)">
            <div class="line"></div>

        </fieldset>

        <fieldset>
            <center>
                <h3>AD MAD</h3>
            </center>
            <br>
            <input type="text" name="admad1" placeholder="Participant for AD MAD (1)">
            <div class="line"></div>
            <input type="text" name="admad2" placeholder="Participant for AD MAD (2)">
            <div class="line"></div>
            <input type="text" name="admad3" placeholder="Participant for AD MAD (3)">
            <div class="line"></div>
            <input type="text" name="admad4" placeholder="Participant for AD MAD (4)">
            <div class="line"></div>
            <input type="text" name="admad5" placeholder="Participant for AD MAD (5)">
            <div class="line"></div>
        </fieldset>
        <br>
        <fieldset>
            <center>
                <h3>Madly in verse</h3>
            </center>
            <br>
            <input type="text" name="madlyinverse1" placeholder="Participant for Madly-in-verse (1)">
            <div class="line"></div>

        </fieldset>
        <br>
        <fieldset>
            <center>
                <h3>The January Muder</h3>
            </center>
            <br>
            <input type="text" name="campuscid" placeholder="Name of the team">
            <div class="line"></div>

            <div class="line"></div>

        </fieldset>
        <fieldset>
            <center>
                <h3>EQ Talkies </h3>
            </center>
            <br>
            <input type="text" name="movienight" placeholder="movie">
            <input type="text" name="openmic" placeholder="openmic">
            <div class="line"></div>

            <div class="line"></div>

        </fieldset>
        <fieldset>
            <h3>Please enter your username</h3>
            <small>based on your login your username is pre entered however for accuracy of money due please change if another member is using your account</small>
            <input type="text" name="username" id='username' placeholder="username">
            <input type="text" name="regname" id='regname' placeholder="regname">
        </fieldset>

        By Clicking the submit button you,
        <%= user %> , A member of the Registration Team acknowledge that you have collected the payment for the team and also guarantee the security of the money so deposited to you <br>
            <button type="submit">Register</button> <br>

</center>

<script>
    var ready = function() {
        //  let name = document.getElementById('user').innerHTML;
        //console.log(name)

        var userNameField = document.getElementById("username");
        userNameField.value = '<%= user %>';
        var NameField = document.getElementById("regname");
        NameField.value = '<%= name %>';
    }
    ready();
</script>

</html>